Package: respin
Version: 1.2.1
Architecture: all
Maintainer: adrenaline <adrenaline@azloco.com>
Installed-Size: 143
Depends: memtest86+, coreutils, dialog, mkisofs | genisoimage, findutils, bash, passwd, sed, squashfs-tools, casper, rsync, mount, eject, libdebian-installer4, os-prober, ubiquity-frontend-debconf, user-setup, discover1 | discover, laptop-detect, syslinux, util-linux, xresprobe
Suggests: respin-gui
Section: extra
Priority: optional
Homepage: http://www.remastersys.org
Description: Backup Your deb based system With Respin
 Ubuntu and variant system remaster This script creates a livecd of the installed system. You can either make a distributable livecd or backup of your system. For more information, please visit http://https://github.com/chamuco/remastersys.
